/* Basic tab styling */
.tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tabs .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex !important;
  flex-wrap: wrap;
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0;
}

.tabs .nav-item {
  margin-bottom: -1px;
}

.tabs .nav-link {
  display: block !important;
  padding: 0.5rem 1rem !important;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: #f1f1f1;
}

.tabs .nav-link:hover,
.tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.tabs .nav-link.active {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.tabs .tab-content > .tab-pane {
  display: none;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: none;
}

.tabs .tab-content > .active {
  display: block !important;
} 